.chat-main
  .chat-main__group-info
    .left__box
      .current-group
        test
      .membaer-list
        Membaer:masa
    = link_to "#" do
      .edit-box
        Edit
  .chat-main__message-list
    .message
      .message__upper-info
        .talker
          masa
        .date
          2019/11/20(Wed) 17:43:01
      .message__text
        おはよう！
    .message
      .message__upper-info
        .talker
          masa
        .date
          2019/11/20(Wed) 17:43:34
      .message__text
        今日は夜から雨
  .chat-main__message-form
    %form.new-message
      .input-box
        %input.input-box__text{placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input.input-box__image__file{type: "file"}
      %input.send-box{type: 'submit', value: 'Send'}
